# Backup files
*~
*.swp

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Make files
aclocal.m4
autom4te.cache/
build/
.deps/
config.*
depcomp
install-sh
libtool
missing
Makefile.in
stamp-h1
ltmain.sh
